<a href="https://colab.research.google.com/github/ArkajKadam/ML/blob/main/KNNs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,Self-emp-not-inc,103497,Some-college,10,Never-married,Protective-serv,Own-child,White,Female,0,0,30,United-States,<=50K

In [12]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

print(x)
print(y)

[[25 'Private' 226802 '11th' 7 'Never-married' 'Machine-op-inspct'
  'Own-child' 'Black' 'Male' 0 0 40 'United-States']
 [38 'Private' 89814 'HS-grad' 9 'Married-civ-spouse' 'Farming-fishing'
  'Husband' 'White' 'Male' 0 0 50 'United-States']
 [28 'Local-gov' 336951 'Assoc-acdm' 12 'Married-civ-spouse'
  'Protective-serv' 'Husband' 'White' 'Male' 0 0 40 'United-States']
 [44 'Private' 160323 'Some-college' 10 'Married-civ-spouse'
  'Machine-op-inspct' 'Husband' 'Black' 'Male' 7688 0 40 'United-States']
 [18 'Self-emp-not-inc' 103497 'Some-college' 10 'Never-married'
  'Protective-serv' 'Own-child' 'White' 'Female' 0 0 30 'United-States']
 [34 'Private' 198693 '10th' 6 'Never-married' 'Other-service'
  'Not-in-family' 'White' 'Male' 0 0 30 'United-States']
 [29 'Self-emp-not-inc' 227026 'HS-grad' 9 'Never-married'
  'Protective-serv' 'Unmarried' 'Black' 'Male' 0 0 40 'United-States']
 [63 'Self-emp-not-inc' 104626 'Prof-school' 15 'Married-civ-spouse'
  'Prof-specialty' 'Husband' 'White' 'Male' 3103 0 32 'United-States']
 [24 'Private' 369667 'Some-college' 10 'Never-married' 'Other-service'
  'Unmarried' 'White' 'Female' 0 0 40 'United-States']
 [55 'Private' 104996 '7th-8th' 4 'Married-civ-spouse' 'Craft-repair'
  'Husband' 'White' 'Male' 0 0 10 'United-States']
 [65 'Private' 184454 'HS-grad' 9 'Married-civ-spouse'
  'Machine-op-inspct' 'Husband' 'White' 'Male' 6418 0 40 'United-States']
 [36 'Federal-gov' 212465 'Bachelors' 13 'Married-civ-spouse'
  'Adm-clerical' 'Husband' 'White' 'Male' 0 0 40 'United-States']
 [26 'Private' 82091 'HS-grad' 9 'Never-married' 'Adm-clerical'
  'Not-in-family' 'White' 'Female' 0 0 39 'United-States']
 [58 'Self-emp-not-inc' 299831 'HS-grad' 9 'Married-civ-spouse'
  'Protective-serv' 'Husband' 'White' 'Male' 0 0 35 'United-States']
 [48 'Private' 279724 'HS-grad' 9 'Married-civ-spouse'
  'Machine-op-inspct' 'Husband' 'White' 'Male' 3103 0 48 'United-States']
 [43 'Private' 346189 'Masters' 14 'Married-civ-spouse' 'Exec-managerial'
  'Husband' 'White' 'Male' 0 0 50 'United-States']
 [20 'State-gov' 444554 'Some-college' 10 'Never-married' 'Other-service'
  'Own-child' 'White' 'Male' 0 0 25 'United-States']
 [43 'Private' 128354 'HS-grad' 9 'Married-civ-spouse' 'Adm-clerical'
  'Wife' 'White' 'Female' 0 0 30 'United-States']
 [37 'Private' 60548 'HS-grad' 9 'Widowed' 'Machine-op-inspct'
  'Unmarried' 'White' 'Female' 0 0 20 'United-States']
 [40 'Private' 85019 'Doctorate' 16 'Married-civ-spouse' 'Prof-specialty'
  'Husband' 'Asian-Pac-Islander' 'Male' 0 0 45 'Peru']
 [34 'Private' 107914 'Bachelors' 13 'Married-civ-spouse' 'Tech-support'
  'Husband' 'White' 'Male' 0 0 47 'United-States']
 [34 'Private' 238588 'Some-college' 10 'Never-married' 'Other-service'
  'Own-child' 'Black' 'Female' 0 0 35 'United-States']
 [72 'Self-emp-not-inc' 132015 '7th-8th' 4 'Divorced' 'Protective-serv'
  'Not-in-family' 'White' 'Female' 0 0 6 'United-States']
 [25 'Private' 220931 'Bachelors' 13 'Never-married' 'Prof-specialty'
  'Not-in-family' 'White' 'Male' 0 0 43 'Peru']
 [25 'Private' 205947 'Bachelors' 13 'Married-civ-spouse'
  'Prof-specialty' 'Husband' 'White' 'Male' 0 0 40 'United-States']
 [45 'Self-emp-not-inc' 432824 'HS-grad' 9 'Married-civ-spouse'
  'Craft-repair' 'Husband' 'White' 'Male' 7298 0 90 'United-States']
 [22 'Private' 236427 'HS-grad' 9 'Never-married' 'Adm-clerical'
  'Own-child' 'White' 'Male' 0 0 20 'United-States']
 [23 'Private' 134446 'HS-grad' 9 'Separated' 'Machine-op-inspct'
  'Unmarried' 'Black' 'Male' 0 0 54 'United-States']
 [54 'Private' 99516 'HS-grad' 9 'Married-civ-spouse' 'Craft-repair'
  'Husband' 'White' 'Male' 0 0 35 'United-States']
 [40 'Private' 154374 'HS-grad' 9 'Married-civ-spouse'
  'Machine-op-inspct' 'Husband' 'White' 'Male' 0 0 40 'United-States']
 [58 'Private' 151910 'HS-grad' 9 'Widowed' 'Adm-clerical' 'Unmarried'
  'White' 'Female' 0 0 40 'United-States']
 [22 'Private' 201490 'HS-grad' 9 'Never-married' 'Adm-clerical'
  'Own-child' 'White' 'Male' 0 0 20 'United-States']
 [52 'Self-emp-inc' 287927 'HS-grad' 9 'Married-civ-spouse'
  'Exec-managerial' 'Wife' 'White' 'Female' 15024 0 40 'United-States']]
['<=50K' '<=50K' '>50K' '>50K' '<=50K' '<=50K' '<=50K' '>50K' '<=50K'
 '<=50K' '>50K' '<=50K' '<=50K' '<=50K' '>50K' '>50K' '<=50K' '<=50K'
 '<=50K' '>50K' '>50K' '<=50K' '<=50K' '<=50K' '<=50K' '>50K' '<=50K'
 '<=50K' '<=50K' '>50K' '<=50K' '<=50K' '>50K']

In [13]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
y = LE.fit_transform(y)
print(y)

[0 0 1 1 0 0 0 1 0 0 1 0 0 0 1 1 0 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 1]

In [14]:
data.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder
for colums in data.select_dtypes(include= ['object']).columns:
    le = LabelEncoder()
    data[colums]=le.fit_transform(data[colums])

In [32]:
data.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,2,226802,1,7,2,4,2,1,1,40,1,0
1,38,2,89814,6,9,1,3,0,2,1,50,1,0
2,28,1,336951,3,12,1,7,0,2,1,40,1,1
3,44,2,160323,9,10,1,4,0,1,1,40,1,1
4,18,4,103497,9,10,2,7,2,2,0,30,1,0
5,34,2,198693,0,6,2,5,1,2,1,30,1,0
6,29,4,227026,6,9,2,7,3,1,1,40,1,0
7,63,4,104626,8,15,1,6,0,2,1,32,1,1
8,24,2,369667,9,10,2,5,3,2,0,40,1,0
9,55,2,104996,2,4,1,1,0,2,1,10,1,0

In [40]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
print("x train data: ",x_train)
print("x test data: ",x_test)
print("y train data: ",y_train)
print("y test data: ",y_test)

x train data:  [[20 'State-gov' 444554 'Some-college' 10 'Never-married' 'Other-service'
  'Own-child' 'White' 'Male' 0 0 25 'United-States']
 [65 'Private' 184454 'HS-grad' 9 'Married-civ-spouse'
  'Machine-op-inspct' 'Husband' 'White' 'Male' 6418 0 40 'United-States']
 [52 'Self-emp-inc' 287927 'HS-grad' 9 'Married-civ-spouse'
  'Exec-managerial' 'Wife' 'White' 'Female' 15024 0 40 'United-States']
 [40 'Private' 154374 'HS-grad' 9 'Married-civ-spouse'
  'Machine-op-inspct' 'Husband' 'White' 'Male' 0 0 40 'United-States']
 [25 'Private' 220931 'Bachelors' 13 'Never-married' 'Prof-specialty'
  'Not-in-family' 'White' 'Male' 0 0 43 'Peru']
 [43 'Private' 346189 'Masters' 14 'Married-civ-spouse' 'Exec-managerial'
  'Husband' 'White' 'Male' 0 0 50 'United-States']
 [24 'Private' 369667 'Some-college' 10 'Never-married' 'Other-service'
  'Unmarried' 'White' 'Female' 0 0 40 'United-States']
 [58 'Self-emp-not-inc' 299831 'HS-grad' 9 'Married-civ-spouse'
  'Protective-serv' 'Husband' 'White' 'Male' 0 0 35 'United-States']
 [58 'Private' 151910 'HS-grad' 9 'Widowed' 'Adm-clerical' 'Unmarried'
  'White' 'Female' 0 0 40 'United-States']
 [34 'Private' 198693 '10th' 6 'Never-married' 'Other-service'
  'Not-in-family' 'White' 'Male' 0 0 30 'United-States']
 [48 'Private' 279724 'HS-grad' 9 'Married-civ-spouse'
  'Machine-op-inspct' 'Husband' 'White' 'Male' 3103 0 48 'United-States']
 [54 'Private' 99516 'HS-grad' 9 'Married-civ-spouse' 'Craft-repair'
  'Husband' 'White' 'Male' 0 0 35 'United-States']
 [72 'Self-emp-not-inc' 132015 '7th-8th' 4 'Divorced' 'Protective-serv'
  'Not-in-family' 'White' 'Female' 0 0 6 'United-States']
 [38 'Private' 89814 'HS-grad' 9 'Married-civ-spouse' 'Farming-fishing'
  'Husband' 'White' 'Male' 0 0 50 'United-States']
 [26 'Private' 82091 'HS-grad' 9 'Never-married' 'Adm-clerical'
  'Not-in-family' 'White' 'Female' 0 0 39 'United-States']
 [29 'Self-emp-not-inc' 227026 'HS-grad' 9 'Never-married'
  'Protective-serv' 'Unmarried' 'Black' 'Male' 0 0 40 'United-States']
 [18 'Self-emp-not-inc' 103497 'Some-college' 10 'Never-married'
  'Protective-serv' 'Own-child' 'White' 'Female' 0 0 30 'United-States']
 [37 'Private' 60548 'HS-grad' 9 'Widowed' 'Machine-op-inspct'
  'Unmarried' 'White' 'Female' 0 0 20 'United-States']
 [34 'Private' 238588 'Some-college' 10 'Never-married' 'Other-service'
  'Own-child' 'Black' 'Female' 0 0 35 'United-States']
 [40 'Private' 85019 'Doctorate' 16 'Married-civ-spouse' 'Prof-specialty'
  'Husband' 'Asian-Pac-Islander' 'Male' 0 0 45 'Peru']
 [55 'Private' 104996 '7th-8th' 4 'Married-civ-spouse' 'Craft-repair'
  'Husband' 'White' 'Male' 0 0 10 'United-States']
 [63 'Self-emp-not-inc' 104626 'Prof-school' 15 'Married-civ-spouse'
  'Prof-specialty' 'Husband' 'White' 'Male' 3103 0 32 'United-States']
 [22 'Private' 201490 'HS-grad' 9 'Never-married' 'Adm-clerical'
  'Own-child' 'White' 'Male' 0 0 20 'United-States']
 [23 'Private' 134446 'HS-grad' 9 'Separated' 'Machine-op-inspct'
  'Unmarried' 'Black' 'Male' 0 0 54 'United-States']
 [44 'Private' 160323 'Some-college' 10 'Married-civ-spouse'
  'Machine-op-inspct' 'Husband' 'Black' 'Male' 7688 0 40 'United-States']
 [25 'Private' 226802 '11th' 7 'Never-married' 'Machine-op-inspct'
  'Own-child' 'Black' 'Male' 0 0 40 'United-States']]
x test data:  [[36 'Federal-gov' 212465 'Bachelors' 13 'Married-civ-spouse'
  'Adm-clerical' 'Husband' 'White' 'Male' 0 0 40 'United-States']
 [34 'Private' 107914 'Bachelors' 13 'Married-civ-spouse' 'Tech-support'
  'Husband' 'White' 'Male' 0 0 47 'United-States']
 [25 'Private' 205947 'Bachelors' 13 'Married-civ-spouse'
  'Prof-specialty' 'Husband' 'White' 'Male' 0 0 40 'United-States']
 [43 'Private' 128354 'HS-grad' 9 'Married-civ-spouse' 'Adm-clerical'
  'Wife' 'White' 'Female' 0 0 30 'United-States']
 [28 'Local-gov' 336951 'Assoc-acdm' 12 'Married-civ-spouse'
  'Protective-serv' 'Husband' 'White' 'Male' 0 0 40 'United-States']
 [45 'Self-emp-not-inc' 432824 'HS-grad' 9 'Married-civ-spouse'
  'Craft-repair' 'Husband' 'White' 'Male' 7298 0 90 'United-States']
 [22 'Private' 236427 'HS-grad' 9 'Never-married' 'Adm-clerical'
  'Own-child' 'White' 'Male' 0 0 20 'United-States']]
y train data:  [0 1 1 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0]
y test data:  [0 1 0 0 1 1 0]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)

In [ ]:
y_pred = knn.predict(x_test)
print(y_pred)